Exemple

Proiect/PlayerController

Proiect/MenuProject/[Ll]ibrary/
Proiect/MenuProject/[Tt]emp/
Proiect/MenuProject/[Oo]bj/
Proiect/MenuProject/[Bb]uild/
Proiect/MenuProject/[Bb]uilds/
Proiect/MenuProject/[Ll]ogs/
Proiect/MenuProject/[Uu]ser[Ss]ettings/

Proiect/MenuProject/[Mm]emoryCaptures/

Proiect/MenuProject/[Rr]ecordings/

Proiect/MenuProject/[Aa]ssets/Plugins/Editor/JetBrains*

Proiect/MenuProject/.vs/

Proiect/MenuProject/.gradle/

Proiect/MenuProject/ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

*.pidb.meta
*.pdb.meta
*.mdb.meta

sysinfo.txt

*.apk
*.aab
*.unitypackage
*.app

crashlytics-build.properties

Proiect/MenuProject/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

Proiect/MenuProject//[Aa]ssets/[Ss]treamingAssets/aa.meta
Proiect/MenuProject//[Aa]ssets/[Ss]treamingAssets/aa/*

