Exemple

Proiect/PlayerController
Proiect/Build

Prezentare

Documentatie

Proiect/ZombieBlitz/[Ll]ibrary/
Proiect/ZombieBlitz/[Tt]emp/
Proiect/ZombieBlitz/[Oo]bj/
Proiect/ZombieBlitz/[Bb]uild/
Proiect/ZombieBlitz/[Bb]uilds/
Proiect/ZombieBlitz/[Ll]ogs/
Proiect/ZombieBlitz/[Uu]ser[Ss]ettings/

Proiect/ZombieBlitz/[Mm]emoryCaptures/

Proiect/ZombieBlitz/[Rr]ecordings/

Proiect/ZombieBlitz/[Aa]ssets/Plugins/Editor/JetBrains*

Proiect/ZombieBlitz/.vs/

Proiect/ZombieBlitz/.gradle/

Proiect/ZombieBlitz/ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

*.pidb.meta
*.pdb.meta
*.mdb.meta

sysinfo.txt

*.apk
*.aab
*.unitypackage
*.app

crashlytics-build.properties

Proiect/MenuProject/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

Proiect/MenuProject//[Aa]ssets/[Ss]treamingAssets/aa.meta
Proiect/MenuProject//[Aa]ssets/[Ss]treamingAssets/aa/*

